.cbp_tmtimeline {
	margin: 15px 0 55px;
	padding: 0;
	list-style: none;
	position: relative;
}
/* The line */
.cbp_tmtimeline::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	display: inline-block;
	width: 10px;
	height: 103%;
	background: url(../img/top/arrow_his_02.png) center;
	left: 20%;
	margin-left: -10px;
}
.cbp_tmtimeline::after {
	content: '';
	position: absolute;
	bottom: -48px;
	display: inline-block;
	width: 41px;
	height: 31px;
	background: url(../img/top/arrow_his_01.png) center;
	left: 20%;
	margin-left: -26px;
}
.cbp_tmtimeline > li {
	position: relative;
	margin-bottom: 35px;
}
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}
.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	/*	font-size: 2.9em;*/
	padding-top: 4px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #5c98ae;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #3a66aa;
}
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	align-content: center;
	min-height: 185px;
	margin: 0 0 15px 25%;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	top: -6px;
	border-radius: 8px;
	border: 3px solid #5c98ae;
	overflow: hidden;
	color: #333;
}
.cbp_tmtimeline > li .cbp_tmlabel.cbp_full {
	min-height: 105px;
}
.cbp_tmtimeline > li .cbp_tmlabel.cbp_full .cbp_tmlabel_inner {
	width: 100%;
	background: #fff;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	border: 3px solid #3a66aa;
}
.cbp_tmtimeline > li .cbp_tmlabel .figure {
	width: 100%;
	max-width: 35%;
	height: auto;
	max-height: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cbp_tmtimeline > li .cbp_tmlabel .figure {
    height: 205px;
	}
}
.cbp_tmtimeline > li:nth-child(1) .cbp_tmlabel .figure {
	background: url(../img/his/1970.jpg) no-repeat center;
	background-size: cover;
}
.cbp_tmtimeline > li:nth-child(2) .cbp_tmlabel .figure {
	background: url(../img/his/1979.jpg) no-repeat center;
	background-size: cover;
}
.cbp_tmtimeline > li:nth-child(4) .cbp_tmlabel .figure {
	background: url(../img/his/1984.jpg) no-repeat center;
	background-size: cover;
}
.cbp_tmtimeline > li:nth-child(5) .cbp_tmlabel .figure {
	background: url(../img/his/1988.jpg) no-repeat center;
	background-size: cover;
}
.cbp_tmtimeline > li:nth-child(8) .cbp_tmlabel .figure {
	background: url(../img/his/2010.jpg) no-repeat center 14%;
	background-size: cover;
}
.cbp_tmlabel_inner {
	width: 65%;
}
.cbp_tmlabel_inner p {
	margin: 0 15px 10px;
	text-align: left;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.cbp_tmlabel_inner p {
	font-family: "Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #fff;
}
.cbp_tmtimeline > li .cbp_tmlabel h2 {
	margin: 15px 15px 10px;
	padding-bottom: 8px;
	font-size: 1.6rem;
	border-bottom: 2px dotted #5c98ae;
	color: #5c98ae;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel h2 {
	border-bottom: 2px dotted #3a66aa;
	color: #3a66aa;
}
.cbp_tmtimeline > li .cbp_tmlabel h2 .inner {
	display: inline;
	padding: 0 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.60, #ff0), color-stop(0.58, #fff));
	background: -webkit-linear-gradient(top, #fff 57%, #ff0 60%);
	background: -moz-linear-gradient(top, #fff 57%, #ff0 60%);
	background: -ms-linear-gradient(top, #fff 57%, #ff0 60%);
	background: linear-gradient(to bottom, #fff 57%, #ff0 60%);
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: Arial, Helvetica, "sans-serif";
	speak: none;
	font-variant: normal;
	text-transform: none;
	font-size: 2.4rem;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #5c98ae;
	background: #fff;
	border-radius: 50%;
	/*	border: 4px solid #3a66aa;*/
	box-shadow: 0 0 0 8px #5c98ae;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
	padding-right: 5px;
	font-weight: 900;
	font-style: italic;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
	color: #3a66aa;
	box-shadow: 0 0 0 8px #3a66aa;
}
.cbp_tmtimeline > li .cbp_tmicon:after {
	right: -100%;
	content: " ";
	position: absolute;
	top: 18px;
	width: 100%;
	height: 4px;
	background: #5c98ae;
	z-index: -1;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon:after {
	background: #3a66aa;
}
.cbp_tmicon-screen:before {
	content: "\e001";
}
.cbp_tmicon-mail:before {
	content: "\e002";
}
.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
/*	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}*/
}

@media only screen and (max-width: 767px) {
.cbp_tmtimeline:before {
	display: none;
}
.cbp_tmtimeline > li .cbp_tmtime {
	width: 100%;
	position: relative;
	padding: 0 0 20px 0;
}
.cbp_tmtimeline > li .cbp_tmtime span {
	text-align: left;
}
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 30px 0;
	/*		padding: 1em;*/
	font-weight: 400;
}
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: auto;
	left: 20px;
	border-right-color: transparent;
	border-bottom-color: #3594cb;
	top: -20px;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: transparent;
	border-bottom-color: #6cbfee;
}
.cbp_tmtimeline > li .cbp_tmicon {
	position: relative;
	float: right;
	left: auto;
	margin: -55px 5px 0 0px;
}
.cbp_tmtimeline > li .cbp_tmicon:after,  .cbp_tmtimeline::after {
	display: none;
}
.cbp_tmtimeline > li .cbp_tmlabel {
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.cbp_tmtimeline > li .cbp_tmlabel .figure {
	display: block;
	width: 100%;
	max-width: 100%;
	height: 250px;
}
.cbp_tmlabel_inner {
	display: block;
	width: 100%;
}
.cbp_tmtimeline > li:nth-child(5) .cbp_tmlabel .figure {
	background: url(../img/his/1988.jpg) no-repeat center 38%;
	background-size: cover;
}
}
